<footer class="bg-success text-center text-white">
    <div class="container p-3 pb-0">

        <section class="mb-1">

            <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/turmadamonica"
                target="_blank" style="border-radius: 100%; border-width: 2px;" role="button"><i
                    class="bi bi-facebook"></i></a>

            <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/TurmadaMonica"
                target="_blank" style="border-radius: 100%; border-width: 2px;" role="button"><i
                    class="bi bi-twitter"></i></a>

            <a class="btn btn-outline-light btn-floating m-1"
                href="https://www.youtube.com/c/mauriciodesousaproducoes"
                style="border-radius: 100%; border-width: 2px;" role="button"><i class="bi bi-youtube"></i></a>

            <a class="btn btn-outline-light btn-floating m-1"
                href="https://www.instagram.com/mauriciodesousaproducoes/" target="_blank"
                style="border-radius: 100%; border-width: 2px;" role="button"><i class="bi bi-instagram"></i></a>

            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/betina-machado/"
                target="_blank" style="border-radius: 100%; border-width: 2px;" role="button"><i
                    class="bi bi-linkedin"></i></a>

            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/BetinaMachado"
                target="_blank" style="border-radius: 100%; border-width: 2px;" role="button"><i
                    class="bi bi-github"></i></a>
        </section>

    </div>

    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2); font-size: x-small;">
        Esta é uma fanpage. Todos os direitos estão reservados à Mauricio de Sousa Produções ou respectivos criadores e detentores dos diretos autorais/copyright.
    </div>
</footer>

<!-- <footer class="page-footer font-small bg-secondary pt-4">

    <div class="container">
  
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <h4 class="text-white">Siga-nos nas redes sociais</h4>
        </div>
      </div>
  
      <div class="row">
        <div class="col md-12 d-flex justify-content-center">
  
  
          <ul class="social-network">
            <li>
              <a href="https://facebook.com/generationbrasil" target="_blank" class="icoFacebook">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
              </a>
            </li>
  
            <li>
              <a href="https://www.instagram.com/generationbrasil" target="_blank" class="icoFInstagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
  
            <li>
              <a href="https://www.linkedin.com/school/generationbrasil" target="_blank" class="icoFacebook">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </li>
  
          </ul>
  
        </div>
      </div>
  
    </div>
  
    <div class="footer-copyright bg-dark text-center py-3">
      <span class="text-light"> 2020 Copyright: </span>
      <a class="text-light" target="_blank" href="https://brasil.generation.org/%22%3Ebrasil.generation.org</a>
    </div>
  
  </footer> -->