<footer class="page-footer font-small bg-secondary pt-4">

  <div class="container d-flex justify-content-center">

    <section class="mb-3">

      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/generationbrasil" target="_blank"
        style="border-radius: 100%; border-width: 2px;" role="button"><i class="bi bi-facebook"></i></a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/youemployed" target="_blank"
        style="border-radius: 100%; border-width: 2px;" role="button"><i class="bi bi-twitter"></i></a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/channel/UCnpMz26_MJ2k3zSpyvEiQ1g"
        style="border-radius: 100%; border-width: 2px;" role="button"><i class="bi bi-youtube"></i></a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/generationbrasil"
        target="_blank" style="border-radius: 100%; border-width: 2px;" role="button"><i
          class="bi bi-instagram"></i></a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/betina-machado/"
        target="_blank" style="border-radius: 100%; border-width: 2px;" role="button"><i class="bi bi-linkedin"></i></a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/BetinaMachado" target="_blank"
        style="border-radius: 100%; border-width: 2px;" role="button"><i class="bi bi-github"></i></a>
    </section>

  </div>

  <div class="text-center bg-dark p-2 text-light" style="font-size: x-small;">
    Todos os direitos estão reservados à Generation Brasil ou respectivos criadores e
    detentores dos diretos autorais/copyright.
  </div>
</footer>