<footer class="bg-danger text-center text-white">
    <div class="container p-3 pb-0">

        <section class="mb-1">

            <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/turmadamonica"
                target="_blank" style="border-radius: 100%; border-width: 2px;" role="button"><i
                    class="bi bi-facebook"></i></a>

            <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/TurmadaMonica"
                target="_blank" style="border-radius: 100%; border-width: 2px;" role="button"><i
                    class="bi bi-twitter"></i></a>

            <a class="btn btn-outline-light btn-floating m-1"
                href="https://www.youtube.com/c/mauriciodesousaproducoes"
                style="border-radius: 100%; border-width: 2px;" role="button"><i class="bi bi-youtube"></i></a>

            <a class="btn btn-outline-light btn-floating m-1"
                href="https://www.instagram.com/mauriciodesousaproducoes/" target="_blank"
                style="border-radius: 100%; border-width: 2px;" role="button"><i class="bi bi-instagram"></i></a>

            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/betina-machado/"
                target="_blank" style="border-radius: 100%; border-width: 2px;" role="button"><i
                    class="bi bi-linkedin"></i></a>

            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/BetinaMachado"
                target="_blank" style="border-radius: 100%; border-width: 2px;" role="button"><i
                    class="bi bi-github"></i></a>
        </section>

    </div>

    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2); font-size: x-small;">
        Esta é uma fanpage. Todos os direitos estão reservados à Mauricio de Sousa Produções ou respectivos criadores e detentores dos diretos autorais/copyright.
    </div>
</footer>